@tailwind base;
@tailwind components;
@tailwind utilities;

/* Initial state when filter is hidden */
.hiddenFilter {
  display: none; /* Use display instead of visibility for a clear on/off state */
}

/* State when filter is shown */
.showFilter {
  display: block; /* Show the filter */
  position: fixed; /* Keep fixed if you want it to float over content */
  top: 120px; /* Adjust as needed */
  left: 0; /* Adjust as needed */
  width: 100%; /* Or specific width if needed */
  z-index: 10; /* Ensure it's above other content */
  overflow-y: auto; /* Allows scrolling within the filter section if needed */
  height: calc(100vh - 120px); /* Adjust height to account for fixed position */
}

.showFilter > div {
    overflow-y: auto; /* Allows scrolling within the filter section if needed */
    height: 90vh;

}

.noScroll {
    overflow: hidden; /* Prevents scrolling */
    height: 100%; /* Maintains the height */
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 1001;
}


@media (min-width: 1024px) { /* Adjust based on your breakpoints */
    .noScroll {
        overflow: visible; /* Allows scrolling on larger screens */
    }
}


@media (min-width: 1024px) { /* Adjust based on your breakpoints */
  .hiddenFilter, .showFilter {
      position: relative; /* Reset to default positioning on larger screens */
      display: block; /* Always show on large screens */
      width: auto; /* Adjust width as needed */
      height: auto; /* Adjust height as needed */
      top: auto; /* Reset top */
      left: auto; /* Reset left */
      z-index: 1; /* Adjust z-index as needed */
      overflow-y: visible; /* Reset overflow */
      transform: none; /* Remove transform */
      animation: none; /* Remove animation */
  }
}


/* Styles for sm and xs screens */
@media (max-width: 1024px) { /* Adjust the value if your breakpoints are different */
    .reset-button {
        width: 100%; /* Full width */
        background-color: white; /* White background */
        border: 2px solid #e4750a; /* Border outline, adjust color as needed */
        color: #e4750a;
        box-sizing: border-box; /* Ensures padding doesn't affect width */
    }
}


.font-normal {
  font-size: 1em; /* Default size */
}

.font-large {
  font-size: 1.25em; /* Larger size */
}

.font-x-large {
  font-size: 1.5em; /* Extra-large size */
}

/* High Contrast Mode Styles */
.high-contrast-mode {
  --high-contrast-bg: #000000; /* High contrast background */
  --high-contrast-text: #ffffff; /* High contrast text */
  --high-contrast-border: #ffffff; /* High contrast borders */
  --high-contrast-link: #ffdd00; /* High contrast links */
}

/* Applying high contrast styles to specific elements */
.high-contrast-mode .contrast-bg {
  background-color: var(--high-contrast-bg);
}

.high-contrast-mode .contrast-text {
  color: var(--high-contrast-text);
}

.high-contrast-mode .contrast-border {
  border-color: var(--high-contrast-border);
}

.high-contrast-mode .contrast-link {
  color: var(--high-contrast-link);
}


.dangerous-html-link {
  color: #0f1bc9;
  text-decoration: underline;
}


.ul_li {
  list-style-type: upper-roman;
  margin: 0;
  padding: 0;
}