@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.hero-section .lg:mb-6, .xl:mb-4 {
  margin-bottom: 1.5rem !important; /* Adjust as needed */
}


@media (min-width: 768px) {
  .lg-leading {
    line-height: 1.2 !important;
  }
}

/* Media query for 'lg' screens */
@media (min-width: 992px) {
  .md-leading {
    line-height: 1.4 !important;
  }
}